<div>
  <div id="items_grid1" >
    <%= render "search_filter"%>
  </div>
  <div id="items_grid3" >
    <%= render "average_date", object: @glucose_units%>
  </div>
  <div id="items_grid2" >
    <%= render "report_data", object: @glucose_units%>
  </div>
</div>
